Django>=4.2
djangorestframework
numpy
opencv-python-headless
ultralytics
torch        # or torch + torchvision (CPU or GPU version)
Pillow       # for image handling
gunicorn     # for production server
